#logo {
  ...
}

#logo a {
   display:block;
   width: 500px;
   height: 49px;
   background: url(galvanize-secrets-logo.png) no-repeat left top;
}

/* for accessibility reasons - without styles variant*/
#logo a span {display: none}
